@import "~styles/colors";

.List {
  list-style: none;
  overflow-y: auto;
  margin: 0;
  padding: 10px 0;
  position: relative;
  mask-image: linear-gradient(transparent, #000 5%, #000 95%, transparent);

  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "No notes";
      color: @nickel;
      font-weight: 600;
    }
  }

  > li {
    margin: 0;

    > a {
      display: block;
      padding: 8px 26px 8px 16px;
      cursor: pointer;
      word-wrap: break-word;
      text-decoration: none;

      &:hover {
        color: #000;
      }

      &.active {
        color: @azure;
      }

      > p {
        margin: 4px 0 0;
        font-size: 12px;
        line-height: 1.3;

        &:first-child {
          margin: 0;
          font-size: 14px;
          line-height: 1.3;
          font-weight: 600;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    &.new > a {
      display: flex;
      align-items: center;
      color: @aluminum;

      &:hover {
        color: @manatee;
      }

      &.active {
        color: @azure;
      }

      > svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      > p {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
