@import (inline) "~normalize.css/normalize.css";

*,
::before,
::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
}

body {
  box-sizing: border-box;
  font: 16px "open-sans", sans-serif;
  // color: @rhino;
}

::placeholder {
  // font-family: "open-sans", sans-serif;
  // color: @aluminum;
}
