@import "~styles/colors";

.NotePane {
  overflow-y: auto;
  background-color: @white;
  position: relative;

  > .DraftEditor-root {
    width: 100%;
    min-height: 100%;

    > .DraftEditor-editorContainer {
      width: 100%;
      min-height: 100%;

      > .public-DraftEditor-content {
        width: 100%;
        min-height: 100%;
        padding: 14px 16px 100%;
        line-height: 1.5;
        word-break: break-word;

        > div > div:first-child {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.3;
          margin-bottom: 8px;
        }

        * {
          word-wrap: break-word;
        }
      }
    }
  }

  > button {
    appearance: none;
    position: fixed;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 14px;
    bottom: 14px;
    color: @nickel;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;

    &:hover {
      color: @manatee;
    }

    > svg {
      width: 16px;
      height: 16px;
      flex: none;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  &.note-deleted > button {
    color: @strawberry;

    &:hover {
      color: @azure;

      > svg:first-child {
        display: none;
      }

      > svg:nth-child(2) {
        display: block;
      }
    }
  }
}
