@import "~styles/colors";

.NotePane {
  overflow-y: auto;
  background-color: @white;
  display: flex;

  > .DraftEditor-root {
    flex: auto;
    display: flex;

    > .DraftEditor-editorContainer {
      flex: auto;
      display: flex;

      > .public-DraftEditor-content {
        flex: auto;
        padding: 14px 16px 16px;
        line-height: 1.5;

        > div > div:first-child {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.3;
          margin-bottom: 8px;
        }
      }
    }
  }
}
