@import "~styles/colors";

.SearchField {
  position: relative;
  border: 1px solid @nickel;
  border-radius: 3px;
  overflow: hidden;
  cursor: text;
  height: 40px;

  &:hover {
    border-color: @aluminum;

    > svg {
      color: @aluminum;
    }
  }

  &.focused {
    background-color: @white;
    border-color: @azure;
  }

  > svg {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 16px;
    height: 16px;
    pointer-events: none;
    color: @nickel;
    transform: translateX(80px);
    transition: transform .2s ease;
    will-change: transform;
  }

  &.focused > svg,
  &:not(.empty) > svg {
    color: @aluminum;
    transform: none;
  }

  > input {
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: none;
    background: transparent;
    font: 14px "open-sans", sans-serif;
    padding: 0 32px 2px;
    transform: translateX(80px);
    transition: transform .2s ease, opacity .2s ease;
    opacity: 0;
    will-change: transform, opacity;
  }

  &.focused > input,
  &:not(.empty) > input {
    transform: none;
    opacity: 1;
  }

  > button {
    appearance: none;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 11px;
    right: 11px;
    color: @nickel;

    &:hover > svg {
      color: @aluminum;
    }
  }
}
